.jumbotron {
margin-top:200px;
}
body{
background-url(https://c4.wallpaperflare.com/wallpaper/761/372/39/nature-landscape-greenery-field-wallpaper-preview.jpg)
background-repeat:no-repeat;
background-size:cover;
}